#container{
    width:70%;
    height:100%;
    border:1px solid black;

}
.image{
    display: none;
}
.fade{
    animation-name : fade;
    animation-duration : 1.5s;
}
@keyframes fade{
    from{opacity : 0.4}
    to {opacity: 1}
}

