<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="success" method = "GET">

        <h1>회원정보</h1>

    <table border = "1">
        <thead>
            <th>회원번호</th>
            <th>회원아이디</th>
            <th>회원이름</th>
            <th>회원나이</th>
        </thead>

        <tbody>
            <tr th:each=" user : ${user}">
                <td th:text="${user.userNo}"></td>
                <td th:text="${user.userId}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userAge}"></td>
            </tr>

        </tbody>
    </table>
    </form>
    
</body>
</html>